<p>Gestión de Solicitudes de Préstamo</p>

<div class="card p-3 mt-3">
  <form (ngSubmit)="guardar()">
    <div>
      <label>Número de documento:</label>
      <input type="text" [(ngModel)]="solicitudForm.numero_documento" name="numero_documento" required />
    </div>

    <div>
      <label>Título del libro:</label>
      <input type="text" [(ngModel)]="solicitudForm.titulo_libro" name="titulo_libro" required />
    </div>

    <div>
      <label>Fecha de solicitud:</label>
      <input type="date" [(ngModel)]="solicitudForm.fecha_solicitud" name="fecha_solicitud" required />
    </div>

    <div>
      <label>Fecha de devolución:</label>
      <input type="date" [(ngModel)]="solicitudForm.fecha_devolucion" name="fecha_devolucion" />
    </div>

    <div>
      <label>Estado:</label>
      <select [(ngModel)]="solicitudForm.estado" name="estado" required>
        <option value="Pendiente">Pendiente</option>
        <option value="Aprobado">Aprobado</option>
        <option value="Rechazado">Rechazado</option>
      </select>
    </div>

    <div>
      <label>Comentario:</label>
      <textarea [(ngModel)]="solicitudForm.comentario" name="comentario"></textarea>
    </div>

    <div>
      <label>Procesado por:</label>
      <input type="text" [(ngModel)]="solicitudForm.procesado_por" name="procesado_por" />
    </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-primary">
        {{ editando ? 'Actualizar solicitud' : 'Crear solicitud' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>


<p *ngIf="solicitudes.length === 0">No hay solicitudes registradas.</p>
<table class="table table-bordered mt-4" *ngIf="solicitudes.length > 0">
  <thead>
    <tr>
      <th>N° Documento</th>
      <th>Título</th>
      <th>Fecha Solicitud</th>
      <th>Fecha Devolución</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th>Procesado Por</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{ solicitud.numero_documento }}</td>
      <td>{{ solicitud.titulo_libro }}</td>
      <td>{{ solicitud.fecha_solicitud | date: 'shortDate' }}</td>
      <td>{{ solicitud.fecha_devolucion | date: 'shortDate' }}</td>
      <td>{{ solicitud.estado }}</td>
      <td>{{ solicitud.comentario }}</td>
      <td>{{ solicitud.procesado_por }}</td>
      <td>
        <button class="btn btn-sm btn-warning" (click)="seleccionarParaEditar(solicitud)">Editar</button>
        <button class="btn btn-sm btn-danger" (click)="eliminar(solicitud._id!)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
